@model FindMyOrder.Models.User

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (Model.Id == -1)
{

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1 class="myPageTitle">Adauga Curier</h1>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1 class="myPageTitle">Modifica informatii curier</h1>
                </div>
            </div>
        </div>
    </div>
}

<br />
<br />

<div style="width:90%; margin:0 auto">
    @using (Html.BeginForm("SaveOrUpdate", "Couriers", FormMethod.Post, new { id = "popupForm" }))
    {

        @Html.HiddenFor(a => a.Id)
        @Html.HiddenFor(a => a.UserDetails.Id)
        @Html.HiddenFor(x => x.Token)


        <div class="form-group">
            @Html.LabelFor(x => x.UserDetails.Name)<br />
            @Html.EditorFor(a => a.UserDetails.Name, new { htmlAttributes = new { @class = "form-control text-box single-line margin", autocomplete = "off", } })
            @Html.ValidationMessageFor(a => a.UserDetails.Name, "", new { @class = "redText" })
        </div>


        <div class="form-group">
            @Html.LabelFor(x => x.Email)<br />
            @Html.EditorFor(a => a.Email, new { htmlAttributes = new { @class = "form-control text-box single-line", autocomplete = "off", @id = "firebaseEmail" } })
            @Html.ValidationMessageFor(a => a.Email, "", new { @class = "redText" })
        </div>

        if (Model.Id == -1)
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Password)<br />
                @Html.PasswordFor(a => a.Password, new { @class = "form-control text-box single-line", autocomplete = "off" })
                @Html.ValidationMessageFor(a => a.Password, "", new { @class = "redText" })
            </div>
        }
        else
        {
            @Html.HiddenFor(a => a.Password)
        }

        <div class="form-group">
            @Html.LabelFor(x => x.UserDetails.PhoneNr)<br />
            @Html.EditorFor(a => a.UserDetails.PhoneNr, new { htmlAttributes = new { @class = "form-control text-box single-line", autocomplete = "off" } })
            @Html.ValidationMessageFor(a => a.UserDetails.PhoneNr, "", new { @class = "redText" })
        </div>


        <div class="selectCar">
            <div style="display:inline-block">
                <div class="form-group" style="display: inline-block">
                    @Html.HiddenFor(a => a.CarId)
                    <label>Model autovehicul</label><br />
                    @Html.EditorFor(a => a.Car.Name, new { htmlAttributes = new { @class = "form-control text-box single-line", disabled = "true", autocomplete = "off", @id = "CarName" } })
                </div>
                <a class="popupCar myCssButton" role="button" style="display: inline-block" href="/Couriers/CarsTableDialog">Alege vehicul</a>
            </div>
        </div>

        <div>
            <input type="button" class="btn" onclick="location.href='/Couriers/Index';" value="Inapoi" />
            <input type="button" class="btn" id="firebaseBtnSignUp" value="Salveaza" />
            <input type="submit" id="SubmitFormButton" style="display:none" value="SalveazaSubmit" />
        </div>
    }
</div>


<script src="~/Scripts/App/CourierSaveOrUpdate.js"></script>


<script>

    $(function () {
        $('.selectCar').on('click', 'a.popupCar', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'));
        })
        function OpenPopup(pageUrl) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {

            });

            $dialog = $('<div class="popupWindowCar" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: true,
                    autoOpen: false,
                    resizable: false,
                    model: true,
                    modal: true,
                    title: 'Alege autovehicul',
                    height: 650,
                    width: 700,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })

            $('.popupWindowCar').on('click', '#myClickCar', function (e) {
                e.preventDefault();
                $dialog.dialog('close');
            })
            $dialog.dialog('open');
        }
    });

</script>